// Rockss --- Buttons


#{$all-buttons} {
  appearance: none;
  background-color: $link-color;
  border: 0;
  border-radius: $default-border-radius;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $default-font-family;
  font-size: $default-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: $small-spacing $default-spacing;
  text-decoration: none;
  transition: background-color $default-duration $default-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($link-color, 10%);
    color: $white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $link-color;
    }
  }
}



// _buttons.scss ends here

