// Rockss --- Code and kbd elements


code {
  @include border-top-radius($default-code-border-radius);
  @include border-right-radius($default-code-border-radius);
  @include border-bottom-radius($default-code-border-radius);
  @include border-left-radius($default-code-border-radius);
  
  padding: $smaller-spacing/2 $smaller-spacing;
  background: $black;
  color: $light-gray;
  font-size: 95%;
}

pre > code {
  @include border-style($default-code-border-style);
  @include border-width($default-code-border-width);
  @include border-color($default-code-background);
  display:block;
  padding: $default-spacing;
  white-space: pre;
}

kbd {
  @include border-style(solid);
  @include border-width($default-kbd-border-width);
  @include border-color($default-kbd-border);
  @include border-top-radius($default-code-border-radius);
  @include border-right-radius($default-code-border-radius);
  @include border-bottom-radius($default-code-border-radius);
  @include border-left-radius($default-code-border-radius);
  
  padding: $smaller-spacing/2 $smaller-spacing;
  background: $default-kbd-background;
  font-size: 95%;
}



// _code.scss ends here
