// Rockss --- Forms


fieldset {
  border: 0px none;
  margin: 0;
  padding: $smaller-spacing 0 $small-spacing;
}

legend {
  border:0px none;
  padding: 0;
}

input,
label,
select {
  display: block;
  font-family: $default-font-family;
  font-size: $default-font-size;
}

label {
    margin-bottom: $small-spacing / 2;
    font-weight: bold;

    &.required::after {
        content: "*";
    }
}

#{$all-text-inputs},
select[multiple=multiple] {
  background-color: $default-background-color;
  border: $default-border;
  border-radius: $default-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $default-font-family;
  font-size: $default-font-size;
  margin-bottom: $small-spacing;
  padding: $smaller-spacing $small-spacing;
  transition: border-color $default-duration $default-timing;
  width: 100%;

  &:hover {
    border-color: shade($link-color, 10%);
  }

  &:focus {
    border-color: $link-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($default-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $default-border;
    }
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;

  + label {
    display: inline-block;
  }
}

input[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $default-spacing;
  max-width: 100%;
  width: auto;
}



// _forms.scss ends here
