// Rockss --- Grid


// Point to the right directory of neat ".../neat/neathelpers".
@import "../vendors/neat/neat-helpers";

// Define the grid
$column: 40px;
$gutter: 40px;
$grid-columns: 12;
$max-width: 960px; 

// Setting breakpoints (mobile first)
$tablet-screen: 400px;
$desktop-screen: 700px;

$tablet-screen-up: new-breakpoint(min-width $tablet-screen 12);
$desktop-screen-up: new-breakpoint(min-width $desktop-screen 12);



// _grid.scss ends here
