// Rockss --- Lists basic styling


ul,
ol {
  padding: 0;
}

ul  {
  list-style: inside none circle;
}

ol {
  list-style: inside none decimal;
}

ul ul, ul ol, ol ol, ol ul {
  margin-left: $small-spacing;
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight:bold;
    margin-top: $small-spacing;
  }
}



// _lists.scss ends here
