// Rockss --- Mixins


// font-size:
//
// Turn px into rem for modern browsers but keep the px as
// fallback option.
@mixin font-size($size){
  $stripped: strip-units($size);
  font-size: $stripped + px;
  font-size: ($stripped / 10) + rem;
}



// _mixins.scss ends here
