// Rockss --- Tables


table {
  border-collapse: collapse;
  border-spacing: 0;
  font-feature-settings: "kern", "liga", "tnum";
}

// .table for using it in calendars etc.
.table {
  width: 100%;

  td {
    vertical-align: bottom;
    border-bottom: 1px solid $default-border-color;
    padding: $small-spacing;
  }

  th {
    @extend td;
    text-align: left;
  }

  caption {
    padding-top: $small-spacing;
    padding-bottom: $small-spacing;
    text-align: left;
    color: $black;
  }
}



// _tables.scss ends here
