// Rockss --- Typography basic styles


// Base font-size
html {
  font-size: 62.5%;
  font-size: $base-font-size;
}

// add body >* as chrome/chromium workaround for rem sizes on body element
body,
body > * {
  @include font-size($default-font-size);
  color: $default-font-color;
  font-family: $default-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  line-height: $default-line-height;
}


// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  letter-spacing: $heading-letter-spacing;
  margin: 0 0 $small-spacing;
  small {
      color: tint($black, 35%);
  }
}

h1 {
  @include font-size($h1);
}

h2 {
  @include font-size($h2);
}

h3 {
  @include font-size($h3);
}

h4 {
  @include font-size($h4);
}

h5 {
  @include font-size ($h5);
}

h6 {
  @include font-size ($h6);
}


// Inline elements
p,
p.intro {
  margin: 0 0 $small-spacing;
}

p.intro {
  @include font-size($default-font-size + 2);
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color $default-duration $default-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($link-color, 25%);
  }
}

hr {
  border-bottom: $default-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $default-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

abbr {
  font-size: 95%;
  cursor: help;
}

strong,
b {
  font-weight: 700;
}

small {
  font-size: 85%;
}



// _typography.scss ends here
