// Rockss --- Variables
//
// Start here to modify the whole Rockss stylesheet to fit
// your own needs.


// Colors
//
// A set of general colors which are used in the whole stylesheet,
// just adjust them on your own (Default colors = tango).
$black: #2e3436;
$white: #f8f8f8;

$dark-gray: #babdb6;
$medium-gray: #d3d7cf;
$light-gray: #eeeeec;

$dark-blue: #204a87;
$medium-blue: #3465a4;
$light-blue: #729fcf;

$dark-purple: #5c3566;
$medium-purple: #75507b;
$light-purple: #ad7fa8;

$dark-green: #4e9a06;
$medium-green: #73d216;
$light-green: #8ae234;

$dark-red: #a40000;
$medium-red: #cc0000;
$light-red: #ef2929;

$dark-orange: #ce5c00;
$medium-orange: #f57900;
$light-orange: #fcaf3e;

$dark-yellow: #c4a000;
$medium-yellow: #edd400;
$light-yellow: #fce94f;

$dark-brown: #e9b96e;
$medium-brown: #c17d11;
$light-brown: #8f5902;


// Typography
// 
// All fonts are sized with rem but using px as fallback for some Browsers. Out
// of the box everything is based on the $base-font-size 10px so 10px = 1.0rem
// and vice versa.
//
// Rockss using the bourbon.io font-stack $helvetica as $default-font-family, thx
// to bourbon there are 5 font-stacks available.
//
// $georgia
// $helvetica
// $lucida-grande
// $monospace
// $verdana

// Default fonts
$default-font-family: $helvetica;
$base-font-size: 10px;
$default-font-size: 17px;
$default-line-height: 1.4;
$default-font-color: $black;
$default-font-color-light: $dark-gray;
$default-background-color: $white;

// Headings
$heading-font-family: $default-font-family;
$heading-line-height: 1.1;
$heading-font-weight: bold;
$heading-letter-spacing: -0.02em;
$h1: 38px;
$h2: 32px;
$h3: 26px;
$h4: 19px;
$h5: 17px;
$h6: 14px;

// Links
$link-color: $medium-blue;

// Code
$default-code-background: $black;
$default-code-border: $black;
$default-code-border-width: 1px;
$default-code-border-radius: 5px;
$default-code-border-style: solid;

$default-kbd-background: $light-gray;
$default-kbd-border: $dark-gray;
$default-kbd-border-width: 1px;
$default-kbd-border: $dark-gray;
$default-kbd-background: $light-gray;

// Spacings
$default-spacing: $default-line-height * 1em;
$small-spacing: $default-spacing / 2;
$smaller-spacing: $small-spacing / 2;

// Borders
$default-border-radius: 3px;
$default-border-color: $dark-gray;
$default-border: 1px solid $default-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px $light-gray;
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($link-color, $lightness: -5%, $alpha: -0.3);

// Animations
$default-duration: 150ms;
$default-timing: ease;



// _variables.scss ends here
